
@import url("https://fonts.googleapis.com/css?family=Roboto:100&display=swap");

.bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    padding: 5px;
    background: #222;
    box-sizing: border-box;
    text-align: center;
}
.bottom a {
    position: relative;
    display: inline-block;
    color: white;
    /* text-decoration: none; */
    font-weight: bold;
    font-size: 13px;
    padding: 15px 20px;
    box-sizing: border-box;
}
.badges img {
    padding: 2px;
}
.badgets a {
    margin: 2px;
}


.viewer {
  position: absolute;
  top: 30px;
  left: 30px;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
}

.viewport {
  position: relative;
  border: 2px solid #ccc;
  width: 400px;
  height: 600px;
}

.scena-guides-manager{
  background-color:  red!important;
  color: white!important;
}